<div class="back-arrow button"><i class="fa fa-arrow-right"></i></div>

<div id="view-board" board="{{ board._id }}">
    <div class="overlay"></div>
    <div class="container">
        <div class="content">
            <div class="board-details">
                <h1>{{board.name}}</h1>
                <!--<p><i class="fa fa-globe"></i> {{round board.latitude 2}}, {{round board.longitude 2}}</p>-->
                <p><i class="fa fa-clock-o"></i> {{#if board.last_pixel_at}}Updated {{ relativeTime board.last_pixel_at }}{{else}}n/a{{/if}}</p>
                <p><i class="fa fa-user"></i> {{formatUsers board.unique_contributors}}</p>
            </div>
            <div class="board-container">
            <div class="board">
                <!-- <div class="locker"></div> -->
                {{#each blocks}}
                    <div class="row">
                    {{#each this}}
                        <div class="block" id="{{x}}-{{y}}" style="background-color: {{hex}}" onclick="pixPick({{x}}, {{y}})">
                            <div class="overlay"></div>
                        </div>
                    {{/each}}
                    </div>
                {{/each}}
            </div>
            </div>
            <div id="board-panel">
                {{#if edit}}
                <div id="paint">
                    <p class="loader">Checking if in range</p>
                    <div class="picker">
                        <p><i class="fa fa-paint-brush"></i>pixel color</p>
                        <input class="jscolor" id="pixcolor" name="hex" value="#4dbcf8">
                    </div>
                    <p class="error">Sorry, you aren't in range to edit</p>
                </div>
                {{/if}}
                <div id="leaderboard">
                    <p><i class="fa fa-trophy"></i>leaderboard</p>
                    <table class="leaders">
                        {{#each leaders}}
                            <tr>
                                <td class="username">{{ username }}</td>
                                <td class="count">{{ count }}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src='/scripts/jscolor.js'></script>
<script src="/scripts/board.js"></script>
