{{>head stylesheet="board" title="board"}}

    <body>

    {{>navbar}}

    <div id="dashboard">
        <div class="container">
            <div class="content">
                <a href="/dashboard"><div class="back-arrow button"><i class="fa fa-arrow-left"></i></div></a>
                <h1>{{ board.name }}</h1>
                <p>{{ board.unique_contributors}} unique contributors</p>
                <p>{{ board.latitude}}, {{ board.longitude}}</p>
                <div class="board">

                    {{#each blocks}}
                        <div class="row">
                        {{#each this}}
                            <div class="block" id="{{x}}, {{y}}" style="background-color: {{hex}}" onclick="pixPick({{x}}, {{y}})">
                                <div class="overlay"></div>
                            </div>
                        {{/each}}
                        </div>
                    {{/each}}
                </div>

                {{#if edit}}
                <form id="paint">
                    <input type="color" id="pixcolor" name="hex" value="#4dbcf8">
                </form>
                {{/if}}
            </div>
        </div>
    </div>

    <script src="/scripts/board.js"></script>

    </body>

</html>
