<div id="view-board" board="{{ board._id }}">
    <div class="back-arrow button"><i class="fa fa-arrow-right"></i></div>
    <div class="container">
        <div class="content">
            <div class="board-details">
                <h1>{{board.name}}</h1>
                <!--<p><i class="fa fa-globe"></i> {{round board.latitude 2}}, {{round board.longitude 2}}</p>-->
                <p><i class="fa fa-clock-o"></i> {{#if board.last_updated}}Updated {{ relativeTime board.last_updated }}{{else}}n/a{{/if}}</p>
                <p><i class="fa fa-user"></i> {{formatUsers board.unique_contributors}}</p>
            </div>
            <div class="board-container">
            <div class="board">
                {{#each blocks}}
                    <div class="row">
                    {{#each this}}
                        <div class="block" id="{{x}}-{{y}}" style="background-color: {{hex}}" onclick="pixPick({{x}}, {{y}})">
                            <div class="overlay"></div>
                        </div>
                    {{/each}}
                    </div>
                {{/each}}
            </div>
            </div>
            {{#if edit}}
                <!-- hidden form -->
                <form id="paint">
                    <input type="color" id="pixcolor" name="hex" value="#4dbcf8" hidden>
                </form>
                <div id="color-picker">
                    <div class="container">
                        <div id="hues">
                            <div class="hue red"></div>
                            <div class="hue orange"></div>
                            <div class="hue yellow"></div>
                            <div class="hue green"></div>
                            <div class="hue blue"></div>
                            <div class="hue purple"></div>
                            <div class="hue gray"></div>
                        </div>
                        <div id="shades">
                            <div class="reds">
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                            </div>
                            <div class="oranges">
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                            </div>
                            <div class="yellows">
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                            </div>
                            <div class="greens">
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                            </div>
                            <div class="blues">
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                            </div>
                            <div class="purples">
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                            </div>
                            <div class="grays">
                                <div class="row"></div>
                                <div class="row"></div>
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}

            {{#each leaders}}
                {{@key}} {{this}}
            {{/each}}
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/scripts/board.js"></script>
