{{>head stylesheet="board" title="board"}}

    <body>

    {{>navbar}}

    <div id="view-board" board="{{ board._id }}">
        <div class="container">
            <div class="content">
                <a href="/dashboard"><div class="back-arrow button"><i class="fa fa-arrow-left"></i></div></a>

                <div class="board-container">

                <div class="board">
                    {{#each blocks}}
                        <div class="row">
                        {{#each this}}
                            <div class="block" id="{{x}}-{{y}}" style="background-color: {{hex}}" onclick="pixPick({{x}}, {{y}})">
                                <div class="overlay"></div>
                            </div>
                        {{/each}}
                        </div>
                    {{/each}}
                </div>

                <div class="board-details">
                    <h1>{{ board.name }}</h1>
                    <!--<p>{{ board.unique_contributors}} contributors</p>-->
                    <p>{{ board.latitude}}, {{ board.longitude}}</p>

                    {{#if edit}}
                    <form id="paint">
                        <input type="color" id="pixcolor" name="hex" value="#4dbcf8">
                    </form>
                    {{/if}}
                </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/scripts/board.js"></script>

    </body>

</html>
