<div id="view-board" board="{{ board._id }}">
    <div class="back-arrow button"><i class="fa fa-arrow-right"></i></div>
    <div class="container">
        <div class="content">
            <div class="board-details">
                <h1>{{board.name}}</h1>
                <p><i class="fa fa-globe"></i> {{round board.latitude 2}}, {{round board.longitude 2}}</p><br>
                <p><i class="fa fa-clock-o"></i> {{#if board.last_pixel_at}}Updated {{ relativeTime board.last_pixel_at }}{{else}}n/a{{/if}}</p>
                <p><i class="fa fa-user"></i> {{formatUsers board.unique_contributors}}</p>
            </div>
            <div class="board-container">
            <div class="board">
                {{#each blocks}}
                    <div class="row">
                    {{#each this}}
                        <div class="block" id="{{x}}-{{y}}" style="background-color: {{hex}}" onclick="pixPick({{x}}, {{y}})">
                            <div class="overlay"></div>
                        </div>
                    {{/each}}
                    </div>
                {{/each}}
            </div>
            </div>
            {{#if edit}}
            <form id="paint">
                    <input type="color" id="pixcolor" name="hex" value="#4dbcf8">
                </form>
            {{/if}}
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/scripts/board.js"></script>
