{{>head stylesheet="dashboard" title="dashboard"}}

    <body>

    {{>navbar}}

    <div id="dashboard">
        <div class="container">
            <div class="content">
                <div class="boards">
                    <!--<h2>boards you've contributed to</h2>
                    {{#each boards_contributed}}
                    <div class="board">
                        <p><a href="/board?{{ _id }}"><b>{{ name }}</b></a> {{ unique_contributors }} contributors</p>
                    </div>
                    {{else}}
                    <p>You haven't contributed to any boards.</p>
                    {{/each}}-->
                    <h2>all boards</h2>
                    {{#each boards}}
                    <div class="board">
                        <p><a href="/board?{{ _id }}"><b>{{ name }}</b></a> {{ unique_contributors }} contributors</p>
                    </div>
                    {{else}}
                    <p>There are no boards in the database.</p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    </body>

</html>
