{{>head stylesheet="map" title="dashboard"}}

<body>

    {{>navbar}}
     <!-- Loader -->
    <div id="loader">
        <div class="spinner">
        </div>
        <div class="text"> Loading your location </div>
    </div>

    <!-- Map Div -->
    <div id="map"></div>

    <!-- Board Sidebar -->
    <link rel="stylesheet" href="/stylesheets/board.css"/>
    <div id="board-sidebar"></div>

    <script type="text/javascript">
        // Toggle sidebar
        var sidebarOpen = false;
        function toggleSidebar() {
            if (sidebarOpen) {
                $("#board-sidebar").removeClass("active");
                $(".back-arrow i").removeClass("fa-arrow-left");
                $(".back-arrow i").addClass("fa-arrow-right");
            }
            else {
                $("#board-sidebar").addClass("active");
                $(".back-arrow i").removeClass("fa-arrow-right");
                $(".back-arrow i").addClass("fa-arrow-left");
            }
            sidebarOpen = !sidebarOpen;
        }
    </script>

    <script>
        var map, infoWindow, loader;
        loader = document.getElementById('loader');
        function initMap() {
            var styledMapType = new google.maps.StyledMapType(
            [
                {
                    "featureType": "all",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": "32"
                        },
                        {
                            "lightness": "-3"
                        },
                        {
                            "visibility": "on"
                        },
                        {
                            "weight": "1.18"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": "-70"
                        },
                        {
                            "lightness": "14"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural.terrain",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural.terrain",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural.terrain",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.station.airport",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.station.rail",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": "100"
                        },
                        {
                            "lightness": "-14"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        },
                        {
                            "lightness": "12"
                        }
                    ]
                }
            ], {name: 'Styled Map'});

            // Create map
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 42.354778, lng: -71.101988}, // Next House
                zoom: 6,
                zoomControl: false,
                scaleControl: false,
                mapTypeControl: false,
                scrollwheel: false,
                rotateControl: false,
                streetViewControl: false,
                disableDoubleClickZoom: true,
                fullscreenControl: false,
                zoomControl: false,
            });

            // Render map markers for each board
            var icon = {
                url: '/images/marker.png', // custom marker image
                size: new google.maps.Size(96, 96),
                scaledSize: new google.maps.Size(48, 48),
                origin: new google.maps.Point(-24,-28)
            }
            {{#each boards}}
                var marker = new google.maps.Marker({
                    position: { lat: parseFloat('{{latitude}}'), lng: parseFloat('{{longitude}}') },
                    icon: icon,
                    label: { text: '{{boardInitials name}}', color: 'white'},
                    map: map,
                    optimized: false,
                    title: '{{_id}}'
                });
                // Add on click listener
                google.maps.event.addListener(marker, 'click', function() {
                    var title = this.title;
                    $.ajax({ // GET board
                        type: "GET",
                        url: "board?" + title,
                        success: function(data) {
                          $("#board-sidebar").html(data); // Inject HTML into sidebar
                          toggleSidebar(); // Show sidebar
                        },
                        error: function(error) {
                          console.log('error');
                        }
                    });
                });
            {{/each}}

            // Create overlay view to group markers
            var overlay = new google.maps.OverlayView();
                overlay.draw = function () {
                    this.getPanes().markerLayer.id = 'markerLayer';
                };
            overlay.setMap(map);

            // Try HTML5 geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var my_circle = new google.maps.Circle({
                    strokeColor: '#FFBB2B',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FFDD4A',
                    fillOpacity: 0.35,
                    map: map,
                    center: pos,
                    radius: 64
                  });
                var my_marker = new google.maps.Circle({
                    strokeColor: 'white',
                    strokeOpacity: 1,
                    strokeWeight: 4,
                    fillColor: '#69BBF3',
                    fillOpacity: 1,
                    map: map,
                    center: pos,
                    zIndex: 99,
                    radius: 4
                  });
                {{#if target_board}}
                {{else}} // not targeting a specific board
                    const default_board_id = "5a6560f6bd7c3ca10baec104";
                    $.ajax({ // preload with default board but don't show sidebar yet
                        type: "GET",
                        url: "board?" + default_board_id,
                        success: function(data) {
                          $("#board-sidebar").html(data); // Inject HTML into sidebar
                        },
                        error: function(error) {
                          console.log('error');
                        }
                    });
                    map.setCenter(pos); // pan map to current location
                    loader.classList.add('hide'); // hide loader
                {{/if}}
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
                map.setZoom(18);
                //Associate the styled map with the MapTypeId and set it to display
                map.mapTypes.set('styled_map', styledMapType);
                map.setMapTypeId('styled_map');
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);
        }
        {{#if target_board}}
        $.ajax({ // GET board
            type: "GET",
            url: "board?" + "{{target_board.id}}",
            success: function(data) {
              $("#board-sidebar").html(data); // Inject HTML into sidebar
              toggleSidebar(); // Show sidebar
              var center = {};
              center.lat = {{target_board.latitude}};
              center.lng = {{target_board.longitude}};
              map.setCenter(center);
              loader.classList.add('hide');
            },
            error: function(error) {
              console.log('error');
            }
        });
        {{/if}}
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{api}}&callback=initMap"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

</body>
</html>
